<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title>Appointment List</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="text-center">
        <h1 class="m-5">My Appointment List</h1>
        <hr class="mt-5">
    </div>

    <div th:if="${#lists.isEmpty(appointments)}" class="text-center">
        <h2>No Appointment Found !!</h2>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table  table-hover table-bordered mt-5"
                       th:if="${not #lists.isEmpty(appointments)}">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Appointment Status</th>
                        <th scope="col">Appointment Date and Time</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="app : ${appointments}">
                        <td th:text="${app.doctor.getFirstName()}"></td>
                        <td th:text="${app.status}"></td>
                        <td th:text="${app.startDateTime}"></td>
                        <td>
                            <a class="btn btn-info"
                               th:href="@{/appointment/view(appointmentId = ${app.id})}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>