<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Demo</title>
    <th:block layout:fragment="otherCSSResources">
        <!--        Page Specific CSS -->
    </th:block>
</head>
<body>
<header>
    <div layout:fragment="header-content">
<!--        extra header content-->
    </div>
</header>
<main layout:fragment="content">
<!--Page Content-->

</main>
<div layout:fragment="otherJSResources">
    <script type="text/javascript">
        // your script here
    </script>
</div>
</body>
</html>