<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}">
<head>
    <title>Verify-Failed</title>
    <th:block layout:fragment="otherCSSResources">
        <!--        Page Specific CSS -->
    </th:block>
    <th:block th:fragment="otherJSResources">
        <!--        Page Specific JS -->
    </th:block>
</head>
<body>
<header>
    <div layout:fragment="header-content">
        <!--        extra header content-->
    </div>
</header>
<main align="center" layout:fragment="content">
    <!--Page Content-->
    <div class="container text-center mt-3">
        <h3>Sorry, we could not verify account. It maybe already verified,
            or verification code is incorrect.</h3>
    </div>
</main>

</body>
</html>
